header { 
    text-align: center; 
    padding: 20px 0px 0px 0px;
    background:url("images/flower.jpg");
    font-family: Pacifico; 
}
ul { 
    padding: 0px 310px 0px 310px;
    font-family: Varela Round;  
}
li { 
    padding: 0px 10px 0px 10px; 
}
body { 
    background-color: rgb(78, 83, 64);
}
.links { 
    display: inline;
    padding: 0px 10px 0px 0px;
    font-color: rgb (41,53,8); 
}
p { 
    padding: 0px 300px 0px 300px;
    font-family: Varela Round; 
}
h2 { 
    padding: 0px 300px 0px 300px;
    font-family: Indie Flower; 
    
}
h1 {
    color: rgb(190, 198, 167); 
}

.images {
    display: inline; 
    padding: 0px 300px 0px 0px; 

img { 
    border: 3px; 
    border-style: solid; 
    color: rgb(154, 163, 132); 
}
div { 
    text-align: center; 
}

a { 
    font-color: 255, 255, 255); 
}
   
body { 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
}
